<table class="table table-sm table-striped">

    <thead class="thead">
        <tr>
            <th scope="col" class="name">Name</th>
            <th scope="col" class="day">Day</th>
            <th scope="col" class="part1">Part 1</th>
            <th scope="col" class="part2">Part 2</th>
            <th scope="col" class="wtime">wTime</th>
        </tr>
    </thead>

    <tbody>
    {{ range . }}
        <tr>
            <td class="name">{{ .Name }}</td>
            <td class="day">{{ .Day }}</td>
            <td class="part1">{{ .Part1 | readableTime }}</td>
            <td class="part2">{{ .Part2Diff | readableTime }}</td>
            <td class="part2">{{ .WTime | readableTime }}</td>
        </tr>
    {{ end }}
    </tbody>
</table>
