<html>
    <head>
        <title>
            {{ if eq .day 0 }}Totals{{ else }}Day {{ .day }}{{ end }} ({{ .year }})
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/site.css">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    </head>
    <body>

        <div class="container">
            {{ template "_day_selector.html" . }}

            {{ template "_day_header.html" .day }}

            {{ template "_full_table.html" .dayScores }}
        </div>

    </body>
</html>