<html>
    <head>
        <title>Top Scores ({{ .year }})</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/site.css">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    </head>
    <body>

        <div class="container">
            {{ template "_day_selector.html" . }}

            <h1>Top Scores</h1>

            {{ template "_top_scores.html" .topScores }}
        </div>

    </body>
</html>